*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:   rgb(44, 39, 39);
    background-image: url("homebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.picture{
    margin-top: 3vh;
}






.header{
    position: fixed;
    width: 100%;
    background-color: blueviolet;
    height: 5vh;
    
    

}
.home{
    margin-top: 3vh;
    margin-left: 25vw;
    margin-bottom: 5vh;
    background-color: rgb(0, 0, 0);
    width: 15vw;

    text-align: center;
    align-items: center;
}

.fa {
    height: 2vh;
    width: 1.5vw;
    background-color: rgb(56, 56, 56);
    border-radius: 100%;
    justify-content: center;
    color: white;
  }

.profile-pic{
    border-radius: 100%;
    width: 6vw;
}

.pages{
    margin-top: 5vh;
    margin-left:3vw ;
    text-align: left;
}

.about-home{
    
    margin-top: 4vh;
}

.socials{
    margin-top: 2vh;
    
}
.homepage-contents{
    display: flex;
    margin-top: 5vh;
    margin-left: 1vw;

    
}

.rearrange{
    background-color: red;
    width: 10vw;
    height: 25vh;

}

.profile-container{
    display: flex;
    height: 88vh;
}



/* slideshow */


/* Slideshow container */
.slideshow-container {
    max-width: 55vw    ;
    position: relative;
    margin-top: 3vh;
    
}

.slide-img {
    height: 80vh;
    width: 45vw;
    contain: layout;
}

/* Caption text */
.text {
    color: #0bf6ea;
    font-size: 3.5vh;
    position: relative;
    width: 100%;
    text-align: center;  
    margin-top: -55vh;
    margin-left: -7.5vw;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #211a1a;
    font-size: 1vh;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    vertical-align: middle;
    height: 2vh;
    width: 1vw;
    margin: 0.2vh 0.3vw;
    background-color: #100f0f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}



a:visited, a{
    color: white;
    text-decoration: none;
}

a:active, a:hover{
    color:#adca0a
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

